img {
    width: 400px;
    height: 200px;
}

body {
    background: url("/images/passport.jpg") fixed 0 0;
}
h1, ul {
    margin-left: 50%;
    padding: 5px;
    color: white;
    font-weight: bolder;
}

h1 {
    text-shadow: 1px 1px black;
}

.table, form {
    width: 40vw;
    height: auto;
    margin-left: 50vw;
    font-size: 1.5em;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 2px 5px black;
}



.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 20px;
    line-height: 2em;
    max-width: 200px;
    word-wrap: break-word;
    font-size: 0.7em;
}

.btn {
    width:200px;
    box-shadow: 1px 1px grey;
    margin: 3px;
}


table .btn {
    width: 50px;
    padding: 2px;
    margin: 0;
}
.form-control, label {
  margin-left: 15%;
    width: 70%;
}


h2, p {
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    background-color: rgba(240, 219, 162, 0.9);
    margin:0;
    width: 400px;
}

h2 {
    margin-top: 50px;
}
p {
    font-size: 1.2em;
}

table + form {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}
